---
type Props = {
	frontmatter?: {
		mdast?: unknown
		rawMdx?: string
	}
}

const { frontmatter } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<title>astro-mdx-kit Playground</title>
	</head>
	<body>
		<slot />
		{
			(frontmatter?.rawMdx !== undefined || frontmatter?.mdast !== undefined) && (
				<>
					<hr />
					<details>
						<summary>Frontmatter Injection</summary>
						{frontmatter.rawMdx !== undefined && (
							<>
								<h3>rawMdx</h3>
								<pre>{frontmatter.rawMdx}</pre>
							</>
						)}
						{frontmatter.mdast !== undefined && (
							<>
								<h3>mdast</h3>
								<pre>{JSON.stringify(frontmatter.mdast, undefined, 2)}</pre>
							</>
						)}
					</details>
				</>
			)
		}
	</body>
</html>
